/* CSS variables */
:root {
	--color-base: #3e3530;
	--block-shadow: 0 0 10px 10px rgba(0, 0, 0, .2);
	--color-visit: #9b59b6;
	--color-hover: #fffffc;
	--color-active: #ff3300;
	--menu-color: #d64b4b;
	--header-hover: #c53131;
	--border-color: #808080;
}

/* Font style */
@font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* Common style */
body {
	height: 100vh;
	background: url(../img/light_cell_big.png) fixed;
	font-family: "RobotoRegular";
	color: var(--color-base);
}

.wrapper {
	max-width: 1230px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

/* Header style */
.header {
	width: inherit;
	margin-top: 15px;
	box-shadow: var(--block-shadow);
	display: flex;
	flex-direction: column;
}

.header__title {
	font-size: 3.5em;
	color: #863535;
	margin-bottom: 0;
	margin-top: 10px;
}

.header__explain,
.header__pointer {
	font-size: 1.25em;
}

.header__pointer {
	margin-top: 0;
	margin-bottom: 20px;
}

.header__link {
	text-decoration: none;
	transition: color 0.3s;
}

.header__link:link {
	color: var(--color-base);
}

.header__link:visited {
	color: var(--color-visit);
}

.header__link:hover {
	color: var(--header-hover);
}

.header__link:active {
	color: var(--color-active);
}

/* Menu style */
.menu {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	box-shadow: var(--block-shadow);
	width: 200px;;
}

.menu__title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: 10px;
	margin-right: 10px;
}

.menu__item {
	border: 1px solid var(--border-color);
	width: 24px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 2px;
	font-size: 0.8em;
}

.menu__link {
	text-decoration: none;
	transition: color 0.2s;
	display: block;
}

.menu__link:link {
	color: var(--color-base);
	background-color: var(--menu-color);
}

.menu__link:visited {
	color: var(--color-hover);
	background-color: var(--color-visit);
}

.menu__link:hover {
	color: var(--color-hover);
}

.menu__link:active {
	color: var(--color-hover);
	background-color: var(--color-active);
}

/* Container style */
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex: 1;
}

/* Main style */
.content {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	width: 1000px;
	box-shadow: var(--block-shadow);
	margin-top: 30px;
	margin-bottom: 30px;
}

.content__block {
	margin-left: 20px;
	margin-right: 20px;
}

.content__task {
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
	text-indent: 10px;
}

/* Footer style */
.footer {
	box-shadow: var(--block-shadow);
	margin-bottom: 15px;
	padding-left: 20px;
}